
body {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  background-color: white;
}

.content {
  clear: right;
  margin-bottom: 1em;
}

h1 {
  display: block;
  padding: 3px;
  margin-left: 0.8em;
  font-size: 3em;
  font-family: "sans";
  color: #111111;
}

ul.channel-list {
  padding-top: 1.5em;
  list-style: none;
  float: left;
  height: 100%;
  list-style-position: inside;
}

.channel-list-item {
  display: block; 
  padding: 3px;
  color: #111111;
}

.channel-list-item:hover {
  text-decoration: none;
  background-color: #111111;
  color: white;
}

#selected {
  background-color: #111111;
  color: white;
}

a {
  text-decoration: none;
}

.feed-nav-buttons {
  float: right;
  margin-right: 3em;
  margin-bottom: 1em;
}

.feed-nav-button {
  border: 1px solid #111111;
  background: white;
  padding: 3px 7px;
  margin: 7px;
  color: #111111;
  vertical-align: middle;
}

.feed-nav-button:hover {
  border-top-color: #111111;
  background: #111111;
  color: white;
}

ul.feed-list {
  list-style: none;
  line-height: normal;
  overflow: hidden;
  clear: right;
}

li.feed-item {
  float: left;
  margin: 1em;
  width: 300px;
  font-size: 0.8em;
}

.feed-item-text {
  height: 50px;
}

.feed-item-title {
  margin-bottom: 3px;
}

.feed-item-title a {
  color: #2288ff;
  font-weight: bold;
}

.feed-item-title a:hover {
  text-decoration: underline;
}

.feed-item-data {
  font-size: 0.9em;
}

.feed-item-user {
  font-weight: bold;
  color: #11aa55;
}

.feed-item-user a {
  color: #11aa55;
}

.feed-item-user a:hover {
  text-decoration: underline;
}

.feed-item-time {
  color: #777777;
  font-weight: bold;
  font-size: 0.8em;
}
